<div *ngIf="quote">
  <div>
    <h2>{{quote}}</h2> <!-- Mensagem adicional -->
  </div>
</div>


<!-- <div class="contabledetails">
  <div class="coin">
    <p>Lorem, ipsum.</p>
    <p>Lorem.</p>
    <p>Lorem ipsum dolor sit.</p>
    <p>lorem</p>
    <p>3</p>
    <p><quote /></p>
  </div>
  <div class="coin">
    <p>Lorem, ipsum.</p>
    <p>Lorem.</p>
    <p>Lorem ipsum dolor sit.</p>
    <p>lorem</p>
    <p>4</p>
    <p>Valor da Moeda R$</p>
  </div>
  <div class="coin">
    <p>Lorem, ipsum.</p>
    <p>Lorem.</p>
    <p>Lorem ipsum dolor sit.</p>
    <p>lorem</p>
    <p>5</p>
    <p>Valor da Moeda R$</p>
  </div>
</div> -->
