<h1>Aeeeee Conseguie chamar um component no angular!</h1>
<h2>Teste</h2>

<!-- <div *ngIf="responseData">
  <div *ngFor="let coin of responseData">
    <p>{{ coin.id }}</p>
    <h2>{{ coin.name }}</h2>
  </div>s
</div> -->

<div class="containercoin">
  <div class="cointable">
    <div class="cointableheader"></div>
    <div class="contabledetails">
      <div class="coin">
        <p>Lorem, ipsum.</p>
        <p>Lorem.</p>
        <p>Lorem ipsum dolor sit.</p>
        <p>lorem</p>
        <p class="valuedol">5</p>
        <p>Valor da Moeda R$</p>
      </div>
      <div class="coin">
        <p>ID da Moeda</p>
        <p>Nome da Moeda</p>
        <p>Rank da Moeda</p>
        <p>Link da Moeda</p>
        <p class="valuedol">8.98</p>
        <p>Valor da Moeda R$</p>
      </div>
      <div class="coin">
        <p>ID da Moeda</p>
        <p>Nome da Moeda</p>
        <p>Rank da Moeda</p>
        <p>Link da Moeda</p>
        <p class="valuedol">{{ valuedol[0] }}</p>
        <p>Valor da Moeda R$</p>
      </div>
      <div class="coin">
        <p>ID da Moeda</p>
        <p>Nome da Moeda</p>
        <p>Rank da Moeda</p>
        <p>Link da Moeda</p>
        <p class="valuedol">9.87</p>
        <p>Valor da Moeda R$</p>
      </div>
      <div class="coin">
        <p>ID da Moeda</p>
        <p>Nome da Moeda</p>
        <p>Rank da Moeda</p>
        <p>Link da Moeda</p>
        <p class="valuedol">1.45</p>
        <p>Valor da Moeda R$</p>
      </div>
      <div class="coin">
        <p>ID da Moeda</p>
        <p>Nome da Moeda</p>
        <p>Rank da Moeda</p>
        <p>Link da Moeda</p>
        <p class="valuedol">0.41</p>
        <p>Valor da Moeda R$</p>
      </div>
    </div>
  </div>
</div>
