@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  max-width: 1366px;
  margin: auto;
  background-color: #7182d3;
  width: 100%;
}
